/* Fuentes */
.font1{
 font-family: 'Anton', sans-serif;
}
.font2{
 font-family: 'Lato', sans-serif;
}
.rem-5{
 font-size: .5rem;
}
.rem1{
 font-size: 1rem;
}
.rem2{
 font-size: 2rem;
}
.rem3{
 font-size: 3rem;
}
.rem4{
 font-size: 4rem;
}

.line1-5{
 line-height: 2;
}

/* Colores */
.bg1{
 background-color: #42a637;
}

.bg2{
 background-color: #9fbc31;
}

.color1{
 color:#42a637;
}
.color2{
 color: #9fbc31;
}
/* Personalizacion */

body{
 font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
.nav-link{
 color:#fff;
 font-size: 14px;
}

.img-noticia, .imagen-welcome{
 background-position: center;
 background-size: cover;
 min-height:200px;
}

/* Index */
#welcome{
 min-height: 80vh;
}
